<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>actualizar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">actualizar</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-list>
    <ion-item>
        <ion-input label="codigo" [(ngModel)]="codigo" [readonly]="true"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input label="NOMBRE" placeholder="Nombre" [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input label="DESCRIPCION" placeholder="Descripcion" [(ngModel)]="descripcion"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input label="PRECIO" placeholder="Precio" [(ngModel)]="precio"></ion-input>
    </ion-item>

</ion-list>

<ion-button expand="block" color="warning" (click)="actualizar()">ACTUALIZAR</ion-button>
<ion-button expand="full" (click)="cancelar()" outline>CANCELAR</ion-button>


</ion-content>
