<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      BAJA - ALTA y MODIFICACION 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      <ion-label><strong>Productos cargados</strong></ion-label>
    </ion-list-header>

      <ion-card color="dark" *ngFor = "let p of productos">
        <ion-card-header>
          <ion-grid >
            <ion-row>
              <ion-col size="10">
                <ion-card-title> <strong> {{p["nombre"]}} </strong> </ion-card-title>
              </ion-col>
              <ion-col size="2">
                <ion-card-subtitle> <strong>Id:</strong>{{p['codigo']}}</ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-grid>
          
          
        </ion-card-header>
      
        <ion-card-content>

          <ion-grid>

            <ion-row class="ion-align-items-center">
              <ion-col size="4">
          
                  
                {{p["descripcion"]}}
              </ion-col>
              
              <ion-col size="8">
                <ion-accordion-group>
                <ion-accordion value="first">
                  <ion-item slot="header" color="light">
                    <ion-label>Descripcion</ion-label>
                  </ion-item>
                  <div class="ion-padding" slot="content">
                    <ion-textarea  [disabled]="true" color="dark">
                      <cite><blockquote>
                       
                      </blockquote> </cite>  
                    </ion-textarea>
                  </div>
                </ion-accordion>
              </ion-accordion-group>
             
              </ion-col>

              <ion-row>
                <ion-col size="12">  
                  <ion-text color="medium">
                    <h1><strong>${{p["precio"]}}</strong></h1>
                  </ion-text>     
                </ion-col>
              </ion-row>
             
              
            </ion-row>

            <ion-row  class="borde-fila">
              <ion-col size="6">
                <ion-button (click)="modificar(p['codigo'],p['nombre'],p['descripcion'],p['precio'])" expand="block" color="warning" fill="clear" shape="round">
                  <ion-icon size="large" name="create-sharp"></ion-icon>
                </ion-button>
          
              </ion-col>
              <ion-col size="6">
                <ion-button (click)="eliminar(p['codigo'])" expand="block" color="danger" fill="clear" shape="round">
                  <ion-icon size="large" name="trash-sharp"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
        
          </ion-grid>

        </ion-card-content>

      </ion-card>


  </ion-list>

  <!--app-explore-container name="Tab 2 page"></app-explore-container-->
</ion-content>