<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title class="ion-text-center">
        <strong>ALTA DE PRODUCTO</strong>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">+</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item counter="true">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input (ionChange)="validarEnvio()" [(ngModel)]="nombre" type="text" maxlength="70" placeholder="Ingresar nombre del producto"></ion-input>
    </ion-item>


    <ion-item counter="true" [counterFormatter]="customCounterFormatter">
      <ion-label position="floating">Descripcion</ion-label>
      <ion-input (ionChange)="validarEnvio()" [(ngModel)]="descripcion" autocapitalize="on" type="text" maxlength="150" placeholder="Descripcion breve"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input (ionChange)="validarEnvio()" [(ngModel)]="precio" type="number" placeholder="precio"></ion-input>
    </ion-item>

  </ion-list>

  <div style="margin-left: 40%; margin-top: 15%;">
    <!--ion-icon (click)="tomarFoto()" color="danger" style="width: 50px; height: 50px;"></ion-icon-->
  </div>

  <div *ngIf=" foto != '' " class="ion-text-center">
    <ion-img (ionImgWillLoad)="cambiarFoto()" style="height: 100px;width: 200px; margin-left: 40%;" [src]="foto">

    </ion-img>
    <ion-label color="success"><ion-icon name="checkmark-done-outline"></ion-icon>imagen seleccionada</ion-label>

  </div>


  <ion-label *ngIf=" foto == '' " color="danger">No hay imagen seleccionada</ion-label>



  <ion-grid fixed>
    <ion-row >
      <ion-col size="6">
        <ion-item >
          <ion-button style="margin-left: 2.5rem;" color="success" (click)="enviar()" expand="block">
            ENVIAR
          </ion-button>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-button style="margin-left: 3rem;" color="warning" (click)="cancelar()" expand="block" shape="round">
            CANCELAR
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--app-explore-container name="Tab 1 page"></app-explore-container-->
</ion-content>
